.idea/misc.xml
.idea/modules.xml
.idea/Value_Investing.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
__pycache__/stock_class.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
